<h1>ID:<%="#{@user.patient_id}"%>さんのマイページ</h1>

<div class="UrlIndex">
  <div class="exercises">
    <% @exercises.each do |exercise|%>
      <iframe src=<%=exercise.url%>></iframe>
    <% end %>


  </div>
</div>
  <div class="qrblock">
  <button id="getqrInfo" class="btn btn-default">QRコードを生成</button>
 
  <div id="qrOutput">
    <div><img id="newImg"></div>
  </div>
 </div>