
/****Ex登録ページ*****/
.contact {
  height: 800px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-send {
  width: 100px;
  margin: auto;
  margin-right: 20px;
  padding: 15px;
  border: 1px solid white;
  color: white;
  display: block;
}

.send {
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid white;
  color: white;
  background-color: orange;
  display: block;
}
a {
  text-decoration: none;
  display: block;
  color:inherit;


}

.thum_top {
  display: flex;
}

.thum_center {
  display: flex;
}
.thum_botom {
  display: flex;
}

.thumbnail {
  width: 200px;
  height: 100px;
  background-color: #fff;
  margin: 5px;
  margin-left: 10px;
}

.NavigationMenu{
  height: 90px;
  text-align: center;
  background-color: #1e90ff;
  color: #fff;
  padding-top: 20px;
}
main{
  display: flex;
  min-height: 100vh;
  margin: 15px 0 30px 0;
}
.LeftContent{
  background-color: lightgrey;
  text-align: center;
  margin-right: 15px;
  padding: 15px;
}

.RightContent{
  flex: 1;
  background-color: lightgrey;
  text-align: left;
  margin-right: 15px;
  padding: 20px;
}
.exercises {
  
}

/****新規登録ページ*****/
.contents {
  height: 700px;
  width: 100vw;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin: 0 300px;
}
.contact-form {
  width: 600px;
}

.form-control {
  height: 50px;
  width: 300px;
  border-radius: 3px;
  margin: 50px 25px 0;
  font-size: 20px;
}

.actions {
  margin: 50px 400px;
}
.btn {
  width: 100px;
  margin:0 100px;
  padding: 15px;
  border: 1px solid white;
  color: white;
  background-color: orange;
  border-radius: 3px;
}

/****QRコード生成*/

.qrblock {
  display: block;
  display: flex;
  text-align: center;
}
.btn-default {
  height: 70px;
  width: 100px;
}

#qrOutput {
  align-items: center;
  padding: auto;
}