

     <div class="NavigationMenu">
    <%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-send" %>
    <%#= link_to "mypage", user_path(current_user.id),class: "nav-send"%>
    
    </div>
    <main>
    <div class="LeftContent">
      <%= form_with model: @exercise, url: exercises_path, local: true do |f| %>
      <div class="thumbnails">
        <div class="thum_top">
          <iframe id="url_display"></iframe>
        </div>
        <div class="thum_center">
          <div class="thumbnail">
            <%= f.text_field :url, id:"url_text" %>
            <input id="btn" type="button" value="clear" >
          </div>

        </div>
        <div class="thum_botom">
          <div class="thumbnail"></div>
          <div class="thumbnail"></div>
        </div>
      </div>
      <%= f.submit "登録", class: "send" ,id: "submit" %>  
      <input type="button" value="PDFDownload" onclick="fpdf();">
		  <input type="button" value="クリア" onclick="fsetcall('','','','','','','','')">
    <%end%>
    </div>

    <div class="RightContent">
      <div class="exercises">
        <a href="https://youtube.com/shorts/ZMvzzi_88JY" class='exe'>側臥位胸椎回旋</a>
        <a href="https://youtube.com/shorts/7K7lKSbL-aM" class='exe'>梨状筋ストレッチ</a>
        <a href="https://youtube.com/shorts/In8-JPlrVIE" class='exe'>もも裏ストレッチ</a>
        <a href="https://youtube.com/shorts/vUXlQhw5eb0" class='exe'>肩甲骨回し</a>      
      </div>
    </div>
    </main>

  </form>
